<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/image/01.png" class="d-block w-100" alt="..." height="550px">
    </div>
    <div class="carousel-item">
      <img src="assets/image/02.jpg" class="d-block w-100" alt="..." height="550px">
    </div>
    <div class="carousel-item">
      <img src="assets/image/03.webp" class="d-block w-100" alt="..." height="550px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container mt-5">
  <div class="text-center">
    <h1>อุปกรณ์ IOT ที่ใช้ทำชิ้นงาน</h1>
    <h3>ตู้จำหน่ายสินค้าระบบอัตโนมัติ</h3>
  </div>
  <div class="container mt-5"></div>
  <div class="row">
    <div class="col">
      <img src="assets/image/product/ESP32.jpg">
    </div>
    <div class="col">
    <h3>ESP32</h3>
      ESP32 คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi ที่เร็วขึ้น, มีขา GPIO
      ให้ใช้งานมากขึ้น
      และรองรับ Bluetooth อีกด้วย นอกจากนี้ ESP32 ยังมาพร้อมกับ touch-sensitive pins ที่สามารถใช้ปลุก ESP32 จากโหมด deep
      sleep
      และยังมี hall effect sensor และ temperature sensor ในตัว (รุ่นล่าสุดของ ESP32 ไม่มี temperature sensor
      ในตัวอีกแล้ว)
    </div>

    <div class="container mt-5"></div>
    <div class="row">
      <div class="col">
        <img src="assets/image/product/LCD.jpg">
      </div>
      <div class="col">
        <h3>LCD</h3>
        LCD ย่อมาจาก Liquid Crystal Display ซึ่งเป็นจอแสดงผลแบบ (Digital )
        โดยภาพที่ปรากฏขึ้นเกิดจากแสงที่ถูกปล่อยออกมาจากหลอดไฟ
        ด้านหลังของจอภาพ (Black Light) ผ่านชั้นกรองแสง (Polarized filter) แล้ววิ่งไปยัง คริสตัลเหลวที่เรียงตัวด้วยกัน 3
        เซลล์คือ แสงสีแดง
        แสงสีเขียวและแสงสีนํ้าเงิน กลายเป็นพิกเ:ซล (Pixel) ที่สว่างสดใสเกิดขึ้น
      </div>

      <div class="container mt-5"></div>
      <div class="row">
        <div class="col">
          <img src="assets/image/product/Load cells.jpg">
        </div>
        <div class="col">
        <h3>Load Cells</h3>
          โหลดเซลล์ (Load cell) คือ เซนเซอร์ที่สามารถแปลงค่าแรงกด หรือแรงดึง เป็นสัญญาณทางไฟฟ้าได้
          เหมาะสำหรับการทดสอบคุณสมบัติทางกลของชิ้นงานโหลดเซลล์ถูกนำไปใช้ในอุตสาหกรรมหลากหลายประเภท
        </div>

        <div class="container mt-5"></div>
        <div class="row">
          <div class="col">
            <img src="assets/image/product/เครื่องตรวจจับเหรียญ.jpg">
          </div>
          <div class="col">
            <h3>Counter Sensor</h3>
            Counter Sensor เป็นเซนเซอร์นับจำนวน ให้สัญญาณ Digital และ Analog ออกมา
            เมื่อมีวัตถุมาบังที่ร่องตรวจนับ (มีขนาดกว้าง 5 มิลลิเมตร) พร้อมหลอดไฟ LED แสดงการทำงาน
            สามารถนำไปนับจำนวนเหรีญหรือวัดความเร็วรอบมอเตอร์ได้
          </div>

          <div class="container mt-5"></div>
          <div class="row">
            <div class="col">
              <img src="assets/image/product/สวิตช์.jpg">
            </div>
            <div class="col">
                <h3>Switch</h3>
                ปุ่มกด (Push Button Switch) เป็นสวิตช์ที่ใช้สำหรับเปิด-ปิดวงจรไฟฟ้าแบบชั่วคราว เมื่อกดปุ่ม วงจรจะถูกเชื่อมต่อ 
                และเมื่อปล่อยปุ่ม วงจรจะถูกตัดการเชื่อมต่อ ปุ่มกดนี้มักใช้ในโครงการอิเล็กทรอนิกส์และหุ่นยนต์ต่างๆ โดยเฉพาะกับบอร์ดไมโครคอนโทรลเลอร์ 
                เช่น Arduino เพื่อให้ผู้ใช้สามารถควบคุมการทำงานของโปรแกรมหรืออุปกรณ์ต่างๆ โดยการกดปุ่มเพื่อสั่งให้วงจรทำงานหรือหยุดทำงาน
            </div>

          </div>
        </div>
